<ion-slide ion-slide-tab-label="已完成工作" class="table">

    <!--协同方信息-->
    <div class="card" ng-repeat="items in infor_for">
        <div class="item item-divider item_head card-head" ng-click="show_work()" >
            <div style="float: left;">{{items.title}}</div>
            <div>
                <img style="float: left;height: 20px;width: 20px;" ng-src="{{items.state_img}}">
            </div>
        </div>

        <div class="item item-text-wrap" ng-repeat="item in infor_work_info" ng-if="!items.state">
            <div class="item item-text-wrap" border="1" >
                <div class="tableInfo-div">
                    <div class="tableInfo-name">活动标题：</div>
                    <div class="tableInfo-title">{{item.title}}</div>
                </div>
                <div class="tableInfo-div">
                    <div class="tableInfo-name">活动编号：</div>
                    <div class="tableInfo-title">{{item.num}}</div>
                </div>
                <div class="tableInfo-div">
                    <div class="tableInfo-name">活动类型：</div>
                    <div class="tableInfo-title">{{item.type}}</div>
                </div>
                <div class="tableInfo-div">
                    <div class="tableInfo-name">执行时间：</div>
                    <div class="tableInfo-title">{{item.time}}</div>
                </div>
                <div class="tableInfo-div">
                    <div class="tableInfo-name">执行部门：</div>
                    <div class="tableInfo-title">{{item.department}}</div>
                </div>
                <div class="tableInfo-div">
                    <div class="tableInfo-name">执行人员：</div>
                    <div class="tableInfo-title">{{item.person}}</div>
                </div>
                <div class="tableInfo-div">
                    <div class="tableInfo-name">记录人员：</div>
                    <div class="tableInfo-title">{{item.record}}</div>
                </div>
            </div>
        </div>
    </div>

</ion-slide>